body {
    background: url('bg.gif') center top / cover no-repeat fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: scroll; /* Прокрутка остается, но ползунок скрыт */
}

body::-webkit-scrollbar {
    display: none; /* Убираем ползунок для Webkit-браузеров */
}

header {
    background: none; /* Убираем фон */
    color: #ffffff; /* Делаем текст светлым */
    padding: 40px 20px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); /* Для улучшения читаемости */
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет детям переноситься на следующую строку */
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background: none; /* Убираем фон */
}

.column {
    flex: 1;
    max-width: 30%; /* Устанавливает максимальную ширину для каждой колонки при большом экране */
    margin: 0 10px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Включает padding и border в размеры элемента */
    animation: fadeIn 2s ease-in-out;
}

a, a:visited {
    color: #012f4a; /* Светлый цвет для всех ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
    color: #50c9c3; /* Цвет при наведении */
}

h2 {
    color: #012f4a;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


footer {
    background-color: #031607; /* Темно-синий цвет */
    color: #ffffff; /* Светлый текст для контраста */
    text-align: center;
    padding: 10px; /* Увеличиваем немного отступы для удобства */
    font-size: 1.2rem; /* Немного уменьшаем шрифт для читабельности */
    box-sizing: border-box; /* Чтобы padding не выходил за пределы */
    /* border-top: 5px solid #ffffff; /* Опционально: белая граница сверху для акцента */
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
        margin-bottom: 20px; /* Добавляет отступ снизу для разделения секций на маленьких экранах */
    }
}