body {
    background: url('static/bg.gif') center top / cover no-repeat fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку */
}

/* Скрываем полосу прокрутки для Webkit-браузеров */
body::-webkit-scrollbar {
    display: none;
}

header {
    background: none;
    color: #ffffff;
    padding: 20px 10px; /* Уменьшаем отступы для мобильных */
    text-align: center;
    font-size: 1.5rem; /* Уменьшаем размер шрифта для мобильных */
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-container {
    display: flex;
    flex-direction: column; /* По умолчанию колонки располагаются вертикально */
    padding: 10px; /* Уменьшаем отступы для мобильных */
    background: none;
}

.column {
    width: 100%; /* Каждая колонка занимает всю ширину экрана */
    margin: 10px 0; /* Отступы сверху и снизу между колонками */
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    animation: fadeIn 2s ease-in-out;
}

a, a:visited {
    color: #012f4a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #50c9c3;
}

h2 {
    color: #012f4a;
    text-align: center;
    font-size: 1.2rem; /* Уменьшаем размер шрифта h2 для мобильных */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px; /* Уменьшаем отступ между элементами списка */
}

footer {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Медиа-запрос для экранов шире 768px (десктоп) */
@media (min-width: 769px) {
    .main-container {
        flex-direction: row; /* На десктопе колонки располагаются горизонтально */
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px;
    }

    .column {
        max-width: 30%;
        margin: 0 10px;
    }

    header {
        padding: 40px 20px;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    li {
        margin-bottom: 10px;
    }
}